@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;  
  overflow-x: hidden;
}

header {
  margin: 0  auto;
  padding:1.5rem 3rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #D4B4CB
}

.addBookBtn{
  margin-left: 3rem;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;

}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-box {
  margin: 10% auto;
  width: 600px;
  background-color:  #D4B4CB;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/*Form*/

form input
 {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}


.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  accent-color: white;
}


.readStatus {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.btn {
  background-color: #333;
  padding:1rem  2rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  margin-top: 10px;
}

.btn:hover {
  background-color: #000;
}

/*Book container */
.container {
  margin: 2rem auto;
  padding: 0 15px;
  max-width: 80%;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.books .card {
  text-align: center;
  position:relative;
  max-width:600px;
  border-radius:12px;
  margin: 2rem 1rem;
  gap:20px;
  padding:20px;
  background-color: white; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  font-size: 20px;

}
span{
  margin-left:0.5rem;
}
.button-group{
  margin:0 auto;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: red;
  background: none;
  border: none;
}

.delete:hover {
  color: #000;
}
.description > *:not(:last-child) {
  border-bottom: 1px solid black;
  margin-bottom:1rem;
}


@media (max-width: 768px) {
  .modal-box {
    width: 90%;
  }
}
